<div class="row">
  <div class="col-md-12">
    <h2>Posts</h2>
    <hr />

    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Post&nbsp;ID</th>
          <th>Title</th>
          <th>Post&nbsp;Date</th>
          <th>Category</th>
          <th>Published</th>
        </tr>
        {{#each posts}}
          <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            {{#if postDate}}
              {{#formatDate postDate}}{{/formatDate}}
            {{else}}
              N/A
            {{/if}}
            <td><a href="/posts?category={{category}}">{{category}}</a></td>
            <td>{{published}}</td>
          </tr>
        {{/each}}
        {{#unless posts}}
          <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
          </div>

        {{/unless}}
      </table>
    </div>

  </div>
</div>